  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> Project created by
        <a href="https://html.design/">Louay Amor</a>
      </p>
    </div>
  </footer>
  <!-- footer section -->